<%=question_form doop, res do %>

  <%=question "/page/children" do |root,answer| %>
    <p>Please list the children you want to claim for.</p>
    <%=info_box do %>
      <p>For each child in this claim we need to see their:</p>
      <li>birth certificate (full or short version)</li>
      <li>adoption certificate</li>
      <p>If any child in this claim was born outside the UK we also need to see their passport(s) or their travel documents used to enter the UK.</p>

      <p><strong>We will normally return your documents within 4 weeks.</strong></p>

    <% end %>
    <p>You don't need to tell us about any children you already get Child Benefit for.</p>

    <%=question "/page/children/how_many_birth_certs" do |root,answer| %>
      <p><strong>We do not accept photocopies of birth certificates.</strong>
      We don't need to see a birth certificate for a child that has been claimed for by you or someone else in the past</p>
      <div class="textfield">
        <input id="certs" name="b_answer" type="text" value="<%=answer%>"/>
      </div>
      <button>Continue</button>
    <% end %>

    <% list "/page/children/child__(\\d+)" do |path,index| %>

      <%=question "#{path}", :title => "Child #{index}" do |root,answer| %>
        <%=question "#{path}/name" do |root,answer| %>
          <div class="textfield">
            <label for="firstname">First name</label>
            <input id="firstname" name="b_firstname" type="text" value="<%=answer["firstname"]%>"/>
          </div>
          <div class="textfield">
            <label for="middlenames">Middle names</label>
            <input id="middlenames" name="b_middlenames" type="text" value="<%=answer["middlenames"]%>"/>
          </div>
          <div class="textfield">
            <label for="suraname">Surname of family name</label>
            <input id="surname" name="b_surname" type="text" value="<%=answer["surname"]%>"/>
          </div>

          <button>Continue</button>
        <% end %>

        <%=question "#{path}/gender" do |root,answer| %>
          <button name="b_answer" value="Male">Male</button><br/>
          <button name="b_answer" value="Female">Female</button>
        <% end %>

        <%=question "#{path}/dob" do |root,answer| %>
          <div class="textfield">
            <label for="dob">DD/MM/YYYY</label>
            <%=error res, :dob_error %>
            <input id="dob" name="b_answer" type="text" value="<%=answer%>"/>
          </div>
          <button>Continue</button>
        <% end %>

        <%=question "#{path}/own_child" do |root,answer| %>
          <button name="b_answer" value="Yes">Yes</button><br/>
          <button name="b_answer" value="No">No</button>
        <% end %>

        <% when_answered path do %>
           <% if index > 1 %>
             <button class="button-secondary" name="remove_child">Remove child</button><br/>
           <% end %>
          <button>Continue</button>
        <% end %>
      <% end %>

    <% end %>
    <% when_answered "/page/children" do %>
      <button name="add_child" class="button-secondary">Add another child</button><br/>
      <button>Continue and save</button>
    <% end %>

  <% end %>
<% end %>
